
.list-item{
    background: rgb(247, 255, 249);
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 10px;
}
.list-item h3{
    background: rgb(189, 238, 189);
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(62, 167, 97);
    margin-bottom: 10px;
}
.list-item p{
    background: #fff;
    padding: 20px;
    font-size: larger;
    font-weight:400;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 10px;
}